body {
  font-family: 'Exo 2', sans-serif;
}



  a:link, a:visited {
    color: white;
    	text-decoration: none;
  }

  a:hover {
    color: white;
  	text-decoration: underline;
  }


  h3 {
    font-size: 20px;
  }
